*{
    box-sizing: border-box;
}
body{
    background-color: rgb(167, 199, 135);
    text-align: center;
    border-radius: 520px;
    border-radius: 80;
    margin-right: 34px;
    margin-top: 32px ;
    margin-bottom: 120px;
    margin-left: 50px;
    

} 
.image {
    width: 450px;
    height: 360px;
    border-color: red;
    border-left: red;
    border-style: none;
    border-radius: 50;

}   